# File with secrets (tokens, passwords, API keys, database connection string)
.env

# Node.js dependencies folder
node_modules/


# Locales
locales/golf_сlub/
locales/cycling_сlub/
locales/multi_sport/


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#  Operating system files
.DS_Store
Thumbs.db

# Files IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary test files
coverage/
.nyc_output/

# Assembly files
# dist/
# build/

